<div class="container">
  <div class="d-flex mb-4 gap-2"><!--width="180px" height="180px"-->
    <div class="col-8 card text-bg-dark border-0"
         style="display: flex; align-items: center; justify-content: center;margin-right: 20px; ">
      <img src="assets/images/h1_img4.jpg" style="width: 120%" class="card-img" alt="...">
      <div class="card-img-overlayM">
        <div class="mine ms-4">
          <h2 class="card-title">Card title</h2>
          <p class="card-text description">This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="rabii ms-3">
        <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-4 card text-bg-dark" style="display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/h1_img4.jpg" class="card-img" alt="..."
      >
      <div class="card-img-overlayM">
        <div class="mine ms-4">
          <h2 class="card-title">Card title</h2>
          <p class="card-text description">This is a wider card with supporting text below as a natural.</p>
        </div>
      </div>
      <div class="rabii ms-3">
        <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>


  <div class="d-flex  mb-4 gap-2"><!--width="180px" height="180px"-->
    <div class="col-8 d-flex "  style=" margin-right: 20px;" >
      <div class="col-6 card text-bg-dark border-0"
           style="display: flex; align-items: center; justify-content: center;  box-sizing: border-box;width: 49%; margin-right: 14px">
        <img src="assets/images/h1_img4.jpg" style="width: 120%" class="card-img" alt="...">
        <div class="card-img-overlayM">
          <div class="mine ms-4">
            <h2 class="card-title">Card title</h2>
            <p class="card-text description">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="rabii ms-3">
          <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-6 card text-bg-dark border-0"
           style="display: flex; align-items: center; justify-content: center;width: 49%;">
        <img src="assets/images/h1_img4.jpg" class="card-img" alt="..."
        >
        <div class="card-img-overlayM">
          <div class="mine ms-4">
            <h2 class="card-title">Card title</h2>
            <p class="card-text description">This is a wider card with supporting text below as a natural.</p>
          </div>
        </div>
        <div class="rabii ms-3">
          <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
      </div>
      <div class="col-4 card text-bg-dark" style="display: flex; align-items: center; justify-content: center;">
        <img src="assets/images/h1_img4.jpg" class="card-img" alt="..."
        >
        <div class="card-img-overlayM">
          <div class="mine ms-4">
            <h2 class="card-title">Card title</h2>
            <p class="card-text description">This is a wider card with supporting text below as a natural.</p>
          </div>
        </div>
        <div class="rabii ms-3">
          <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>


    <!--<div class="d-flex gap-3 mb-4">
      <div class="col-8 gap-4 d-flex" style="margin-right: 10px">
        <div class="col-6 card text-bg-dark border-0" style="display: flex; align-items: center; justify-content: center;">
          <img src="assets/images/h1_img4.jpg" style="width: 120%" class="card-img" alt="...">
          <div class="card-img-overlayM">
            <div class="mine ms-4">
              <h2 class="card-title">Card title</h2>
              <p class="card-text description">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="rabii ms-3">
            <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="col-6 card text-bg-dark border-0" style="display: flex; align-items: center; justify-content: center;">
          <img src="assets/images/h1_img4.jpg" class="card-img" alt="..."
          >
          <div class="card-img-overlayM">
            <div class="mine ms-4">
              <h2 class="card-title">Card title</h2>
              <p class="card-text description">This is a wider card with supporting text below as a natural.</p>
            </div>
          </div>
          <div class="rabii ms-3">
            <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-4 card text-bg-dark border-0" style="display: flex; align-items: center; justify-content: center;">
        <img src="assets/images/h1_img4.jpg" class="card-img" alt="..."
        >
        <div class="card-img-overlayM">
          <div class="mine ms-4">
            <h2 class="card-title">Card title</h2>
            <p class="card-text description">This is a wider card with supporting text below as a natural.</p>
          </div>
        </div>
        <div class="rabii ms-3">
          <p class="card-text pm"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  -->

  </div>

