<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-4 mt-3 mb-0">
      <div class="h-50" style="padding-left: 10px;">
        <h2 class="ps-4" style="border-left: 4px solid #33a457;">It’s Time For a New Adventure! Don’t Wait Any
          Longer.</h2>
      </div>
      <div class="ps-3">
        <h2 style="font-family: 'Long Cang', cursive; font-size: 40px;">
          AjiTl3ab
        </h2>
      </div>
      <div class="ps-3">
        <div class="" style="color: #717d88;">
          CEO Foundation
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 description">
      <div class="d-flex" style="justify-content: flex-start;">
        <p class="pt-4" style="line-height: 30px;">
          Our team of travel insiders is obsessed with finding the best things to do everywhere we travel.
          From
          Paris to Phuket to Perth, from traditional tours to once-in-a-lifetime experiences, we have
          something
          for every kind of traveler. And we are proud to say that after 17 experience-packed years, we
          are the
          world leader. When planning your trip, why start anywhere else?
        </p>
      </div>

    </div>
    <div class="col-12 col-lg-4">
      <div class="" style="position: relative; top: 30px; display: flex; justify-content: center; ">
        <div class="frameOne border">

        </div>
        <div class="text-center"
             style="position: absolute; z-index: 1; height: 100%; width: 100%;">
          <img src="assets/images/team1.jpg" alt="" style="width: 350px; height: 250px; object-fit: cover;border-style: solid;
                        border-width: 10px;
                        border-color: #fff;
                        border-radius: 5px 5px 5px 5px;
                        box-shadow: 3px 0 25px 0 rgba(171.00000000000006,179.00000000000006,194.00000000000006,.5);">
        </div>
      </div>

    </div>
  </div>
</div>
