.form-control:hover,
.form-control:focus-within {
  border-color: #33a457;
  /* Add other styles as needed */
}


.form-control {
  border: 2px solid #e3e6e8;
  transition: border-color 0.3s ease;
  /* Adjust the duration and easing function as needed */
}

/*@media (max-width: 576px) {
    .custom-width {
        width: 75%;
    }
}

@media (min-width: 576px) {
    .custom-width {
        width: 100%;
    }
}*/
button.recherche {
  border: none;
  padding: 8px 30px;
  line-height: 1.7;
  width: 100%;
  /*font-size: 16px;*/
  letter-spacing: 0;
  background-color: #33a457;
}
#search-bar{
  margin-top: -90px;
  position: relative; z-index: 10000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  margin-bottom: 15px;
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-form {
    text-align: center;
    padding-top: 10px;
    /* Adjust as needed */
    padding-left: 10px;
  }

  .form_subtitle {
    font-size: 0.5rem;
    /* Adjust as needed */
  }

  .form_title {
    font-size: 1.2rem;
    /* Adjust as needed */
  }

  button.recherche {
    width: 100%;
    /* Make the button full width on tablets */
    font-size: 14px;
  ;
    text-align: left;
    padding: 8px 20px;

  }
}
