<app-info-tab [authenticatedUser]="clientToUpdate"></app-info-tab>
<app-nav-bar></app-nav-bar>
<div class="container rounded bg-white mt-5 mb-5 d-flex justify-content-center" *ngIf="clientToUpdate">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <!--https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"-->
        <img class="rounded-circle mt-5" width="150px" src="assets/svgImage/7448202.jpg">
        <span class="font-weight-bold">{{clientToUpdate.nom}}</span>
      </div>
    </div>
    <div class="col-md-9 border-right">
      <form class="p-3 py-5" #ngForm="ngForm" (ngSubmit)="updateClient()">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-1">
          <div class="col-md-6">
            <label class="labels">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="clientToUpdate.nom" placeholder="first name" name="firstName" required>
          </div>
          <div class="col-md-6">
            <label class="labels">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="clientToUpdate.prenom" name="lastName" required placeholder="surname">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="labels">Email</label>
            <input type="text" class="form-control" placeholder="enter email" name="email" [(ngModel)]="clientToUpdate.email" required>
          </div>
          <div class="col-md-6">
            <label class="labels">Password</label>
            <input type="text" class="form-control" placeholder="enter address line 2" name="password" [(ngModel)]="clientToUpdate.password" required>
          </div>
          <div class="col-md-6">
            <label class="labels">Mobile Number</label>
            <input type="text" class="form-control" placeholder="enter phone number" name="phoneNumber" [(ngModel)]="clientToUpdate.telephone" required>
          </div>
          <div class="col-md-6" *ngIf="clientToUpdate.adresse">
            <label class="labels">Address Line 1</label>
            <input type="text" class="form-control" placeholder="enter address line" name="adresse" [(ngModel)]="clientToUpdate.adresse" required>
          </div>
        </div>

        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button"  [disabled]="!ngForm.form.valid" type="submit">Save Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>

