.section-header {
  background-image: url(/assets/images/bg-header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0!important;
  margin-bottom: 50px;
}

@media (max-width: 767px)
.section-header{
  padding: 60px 15px;
}
@media (max-width: 1024px)
.section-header {
  padding: 80px 30px;
}
.section-header {
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  padding: 90px 30px;
}
.section-header {
  position: relative;
  width: 100%;
}

.background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: .4;
  transition: background .3s,border-radius .3s,opacity .3s;
}

.terrain-breadcrumb {
  color: #fff;
  text-align: center;
  z-index: 9999;
  position: relative;
}

.header-title {
  text-align: center;
  color: #fff;
  font-family: followme, Sans-serif, serif;
  font-weight: 400;
  letter-spacing: -3px;
  text-shadow: 1px 0 1px rgba(0,0,0,.5);
  font-size: 50px;
  line-height: 52px;
  margin: 5px 0 0;
}

.terrain-breadcrumb a {
  color: #fff;
  box-shadow: none;
  text-decoration: none;
}

.terrain-breadcrumb a:hover {
  color: var(--primary);
}

@media (max-width: 767px){
  .header-title {
    font-size: 40px;
    line-height: 42px;
  }
}

@media (max-width: 450px){
  .header-title {
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0;
  }
}
