<nav class="navbar custom-navbar sticky-top navbar-expand-lg bg-white pt-4 pb-4" [ngClass]="{'fixed-navbar': isNavbarFixed}">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/Logo_UEFA_Champions_League.png" alt="Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link customise-font active" aria-current="page" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link customise-font" routerLink="/terrains" >Terrains</a>
        </li>
        <li class="nav-item me-4 dropdown">
          <a class="nav-link customise-font" routerLink="/about-us">A Propos</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link customise-font" routerLink="/contact">Contactez-Nous</a>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-success  custom-btn" (click)="bookNow()">Réserever</button>
    </div>
  </div>
</nav>



