<div class="card">
  <div class="card-header d-flex justify-content-between">
    <span>Liste des Terrains</span>
    <a routerLink="add" class="btn btn-success" >Ajouter un Terrain</a>
  </div>
  <div class="card-body p-0">
    <div>
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="uuid">
          <th mat-header-cell *matHeaderCellDef> UUID. </th>
          <td mat-cell *matCellDef="let element" class="fw-bold"> {{ element.uuid | slice:0:8 }}{{ element.uuid.length > 8 ? '...' : '' }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element">
            <img ngSrc="assets/uploads/images/{{element.image}}" alt="{{element.nom}}" width="60" height="60">
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="prix">
          <th mat-header-cell *matHeaderCellDef> Prix </th>
          <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="taille">
          <th mat-header-cell *matHeaderCellDef> Taille </th>
          <td mat-cell *matCellDef="let element"> {{element.taille}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="proprietaire">
          <th mat-header-cell *matHeaderCellDef> Proprietaire </th>
          <td mat-cell *matCellDef="let element"> {{element.proprietaire.nom }} {{ element.proprietaire.prenom }}</td>
        </ng-container>

        <ng-container matColumnDef="services">
          <th mat-header-cell *matHeaderCellDef> Services </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <a [routerLink]="[element.uuid, 'services']" class="btn btn-outline-info"><i class="bi bi-box-arrow-up-right"></i></a>
          </td>
        </ng-container>

        <ng-container matColumnDef="disponibilités">
          <th mat-header-cell *matHeaderCellDef> Disponibilités </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <a [routerLink]="[element.uuid, 'disponibilites']" class="btn btn-outline-info"><i class="bi bi-box-arrow-up-right"></i></a>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['edit', element.uuid]" class="btn btn-outline-success me-2" ><i class="fa-regular fa-pen-to-square"></i></a>
            <button type="button" (click)="delete(element.uuid)" class="btn btn-outline-danger" ><i class="fa-regular fa-trash-can"></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
