<app-info-tab [authenticatedUser]="JSON.parse(user)"></app-info-tab>
<app-nav-bar></app-nav-bar>
<app-header-section pageTitle="Confirmation" pageDescription="Confirmation"></app-header-section>

<div class="confirmation-page-default container">
  <div class="babe_message_order babe_message_order_status_payment_deferred">
    Your order is completed and received. Thank you!  </div>
  <div class="confirmation-information">
    <div class="order-number">
      <span class="title">Order number:</span>
      <span class="content">{{ reservation.uuid  | slice:24: 36 }}</span>
    </div>
    <div class="date">
      <span class="title">Date:</span>
      <span class="content">{{ reservation.paiement?.datePaiement }}</span>
    </div>
    <div class="total">
      <span class="title">Total:</span>
      <span class="content">
      <span class="currency_amount"><span class="currency_symbol">{{ reservation.paiement?.montant }}</span> Dhs</span> </span>
    </div>
    <div class="payment-method">
      <span class="title">Payment method:</span>
      <span class="content">Credit Card</span>
    </div>
  </div>
  <div class="order-details-table">
    <h4 class="order-heading">Order Details</h4>
    <div class="order-body">
      <div class="order-content">
        <div class="title">
          <a target="_blank" [routerLink]="['/terrains', reservation.terrain?.uuid]">
          {{ reservation.terrain?.nom }}
          </a>
        </div>
        <div class="date-time">
          <span class="label"> Date:</span>
          <span class="value date"> {{ reservation.date }} </span>
          <span class="label"> Time: </span>
          <span class="value">{{ reservation.heure }}:00</span> </div>
        <div class="duration">
          <span class="label">Duration:</span>
          <span class="value">1 Heure</span> </div>
        <div class="duration">
          <span class="label">Etat: </span>
          <span class="value badge text-bg-success"> {{ reservation.etat }}</span>
        </div>
        <div class="duration">
          <span class="label">Identifiant Ticket:</span>
          <span class="value"> {{ reservation.uuid }}</span>
        </div>
      </div>
      <div class="order-price">
        <span class="order_item_total_price"><span class="currency_amount"><span class="currency_symbol">{{ reservation.paiement?.montant }}</span> Dhs</span></span>
      </div>
    </div>
    <div class="order-total-subtotal">
      <div class="order_items_total">
        <span class="label">Sub Total</span>
        <span class="amount"> <span class="currency_amount"><span class="currency_symbol">{{ reservation.paiement?.montant }}</span> Dhs</span></span>
      </div>
      <div class="order_items_total">
        <span class="label">Total</span>
        <span class="amount"><span class="currency_amount"><span class="currency_symbol">{{ reservation.paiement?.montant }}</span> Dhs</span></span>
      </div>
      <div class="order_items_total">
        <span class="label">Amount Due</span>
        <span class="amount"><span class="currency_amount"><span class="currency_symbol">0.00</span> Dhs</span></span>
      </div>
      <div class="order_items_total">
        <span class="label">Amount Paid</span>
        <span class="amount amount-total"><span class="currency_amount"><span class="currency_symbol">{{ reservation.paiement?.montant }}</span> Dhs</span></span>
      </div>
    </div>
    <div class="download-ticket d-flex justify-content-end">
      <button type="button" (click)="generatePdf(reservation)" class="btn button checkout_form_submit mt-3"><i class="bi bi-download fs-6"></i> Telecharger Ticket</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
