<!--<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide "><img src="./assets/images/stadium_2.jpg" alt=""
                                             class="img-fluid"></div>
    <div class="swiper-slide "><img src="./assets/images/stadium_3.jpg" alt=""
                                             class="img-fluid"></div>
    <div class="swiper-slide "><img src="./assets/images/stadium_10.jpg" alt=""
                                             class="img-fluid"></div>
  </div>
</div>-->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="https://picsum.photos/id/1033/500/300/" alt=""></div>
    <div class="swiper-slide"><img src="https://picsum.photos/id/1035/500/300/" alt=""></div>
    <div class="swiper-slide"><img src="https://picsum.photos/id/1037/500/300/" alt=""></div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div><div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="https://picsum.photos/id/1033/500/300/" alt=""></div>
    <div class="swiper-slide"><img src="https://picsum.photos/id/1035/500/300/" alt=""></div>
    <div class="swiper-slide"><img src="https://picsum.photos/id/1037/500/300/" alt=""></div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
