<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide "><img src="./assets/images/stadium_2.jpg" alt=""
                                             class="img-fluid"></div>
    <div class="swiper-slide "><img src="./assets/images/stadium_3.jpg" alt=""
                                             class="img-fluid"></div>
    <div class="swiper-slide "><img src="./assets/images/stadium_10.jpg" alt=""
                                             class="img-fluid"></div>
  </div>
</div>
