<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
  <app-my-swiper></app-my-swiper>
  <footer class="text-center  text-lg-start border border-white">
    <!-- Grid container -->
    <div class="bg-white">
      <div class="container p-4">
        <!--Grid row-->
        <div class="row bg-white">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h4 class="text-uppercase mb-4"
                style="font-family: 'Papyrus', 'Papyrus Condensed', 'Comic Sans MS', 'Comic Sans', cursive !important;">
              M⚽︎UL LBAL⚽︎UN</h4>

            <p class="me-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
              repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
              eum harum corrupti dicta, aliquam sequi voluptate quas.</p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">Assistance</h5>
            <div class="d-flex flex-column">
              <div class="col-lg-12 col-md-12 mb-4 mb-md-0 d-flex border-bottom">
                <div data-mdb-ripple-init class="bg-image hover-overlay shadow-1-strong rounded mb-4"
                     data-ripple-color="">
                  <img src="assets/images/stadium_2.jpg" width="70px" class="object-fit-cover rounded" height="70px"/>
                  <a href="#">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
                <div class="ms-2">
                  <a class="post-title" href="#"><span>Pack wisely before traveling</span></a>
                  <span class="post-date">11/09/2020</span>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 mb-4 mb-md-0 d-flex mt-4">
                <div data-mdb-ripple-init class="bg-image hover-overlay shadow-1-strong rounded" data-ripple-color="">
                  <img src="assets/images/stadium_2.jpg" width="70px" class="object-fit-cover rounded" height="70px"/>
                  <a href="#">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                  </a>
                </div>
                <div class="ms-2">
                  <a class="post-title"
                     href="https://demo2.prestabrain.com/followme/pack-wisely-before-traveling-2/"><span>Pack wisely
                      before traveling</span></a>
                  <span class="post-date">11/09/2020</span>
                </div>
              </div>
            </div>
          </div>
          <!--Grid column-->


          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>

            <div class="form-outline form-white mb-4 d-flex">

              <input type="email" id="form5Example2" class="form-control py-3 px-4" placeholder="Your email"
              style="border-color: #33a457"/>
              <!--              <label class="form-label" for="form5Example2">Email address</label>-->
              <button type="submit" class="btn border-0 btn-outline-success btn-block ms-2 w-25">
                <i class="fab fa-telegram-plane d-block fs-1"></i>
              </button>
            </div>


          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
    </div>

    <!-- Grid container -->


    <div class="container shadow-sm">
      <div class="rounded-3 overflow-hidden ">
        <div class="d-flex justify-content-center align-items-center" style="background-image: url('assets/images/stadium_9.jpg');
              background-repeat: no-repeat;
              background-size: cover;
              height: 280px;
              width: 100%;
              bottom: 0; /* Change from bottom: 0; */
              right: 50px;
              left:50px;
              background-attachment: fixed;
              object-fit: cover;
              background-position: center center;
              z-index: -9999">
          <div class="container pt-4 d-flex justify-content-center">
            <!-- Section: Social media -->
            <section class="mb-4 d-flex justify-content-around w-50">
              <!-- Facebook -->
              <a class="btn btn-link btn-floating rounded-5 btn-lg text-white " href="#!" role="button"
                 data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

              <!-- Twitter -->
              <a class="btn btn-link btn-floating rounded-5 btn-lg text-white " href="#!" role="button"
                 data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

              <!-- Google -->
              <a class="btn btn-link btn-floating rounded-5 btn-lg text-white" href="#!" role="button"
                 data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

              <!-- Instagram -->
              <a class="btn btn-link btn-floating rounded-5 btn-lg text-white " href="#!" role="button"
                 data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

              <!-- Linkedin -->
              <a class="btn btn-link btn-floating rounded-5 btn-lg text-white" href="#!" role="button"
                 data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
              <!-- Github -->

              <a class="btn btn-link btn-floating rounded-5 btn-lg text-white " href="#!" role="button"
                 data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
        </div>
      </div>
    </div>


    <div class="container mt-5">
      <div class="row">
        <div class="col text-center">
          <div><a href="http://https://demo2.prestabrain.com/followme/" class="text-success" style="text-decoration: none"> © 2023 MOLLBALOUN</a>. All
            Rights Reserved.
          </div>
        </div>
        <div class="col justify-content-center">
          <div class="container ms-4">
            <ul class="list-unstyled mb0 row justify-content-around">
              <li class="col-12 col-lg-6">
                <a href="#" class="text-secondary text-center" >
                  <span class="mySpan">Terms &amp; Conditions</span>
                </a>
              </li>
              <li class="col-12 col-lg-2 p-0">
                <a href="#" class="text-secondary text-center">
                  <span class="mySpan"> Cookies </span>
                </a>
              </li>
              <li class="col-12 col-lg-4">
                <a href="" class="text-secondary text-center">
                  <span class="mySpan">Privacy Policy</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-center pt-2">
            <img width="124" height="19"
                 src="https://demo2.prestabrain.com/followme/wp-content/uploads/2021/06/footer_02.png"
                 class="d-block" alt="Followme Theme" loading="lazy">
          </div>
        </div>
      </div>
    </div>

  </footer>

</div>
<!-- End of .container -->
