<div class="container-fluid m-0 border-bottom ">
  <nav class="navbar navbar-expand-lg bg-white ">
    <div class="container">
      <!-- Phone and Email on the left -->
      <div class="d-flex align-items-center me-auto info">
        <div class="hover-link">
          <i class="bi bi-telephone me-2"></i>
          <span class="me-4">+123456789</span>
        </div>
        <div class="hover-link">
          <i class="bi bi-envelope me-2"></i>
          <span>contact&#64;gmail.com</span>
        </div>
      </div>

      <!-- Login and Signup on the right -->
      <div class="d-flex align-items-center info">
        <div class="me-4 hover-link"  *ngIf="!user">
<!--          <i class="fas fa-user"></i>-->
          <i class="bi bi-shield-lock"></i>
          <span routerLink="/login" class="ms-1">Login</span>
        </div>
        <div class="hover-link">

          <!--<span class="ms-1" routerLink="signUp" >Sign Up</span>

            <span class="nav-link" *ngIf="currentUser">Welcome, {{ currentUser.email }}</span>-->
         <!-- <span *ngIf="currentUser; else showSignUpLink">{{ currentUser.prenom }}</span>
          <ng-template #showSignUpLink>
            <span class="ms-1" routerLink="signUp">Sign Up</span>
          </ng-template>-->
          <!-- header.component.html -->

          <div  *ngIf="user; else showSignUpLink" >
            <a [routerLink]="['/edit-client', authenticatedUser?.uuid]" class="me-3" style="text-decoration: none">
              <i class="bi bi-person"></i>{{ authenticatedUser?.prenom }}
            </a>
            <a [routerLink]="['/reservation/', authenticatedUser?.uuid]" class="me-3" style="">
<!--              <i class="bi bi-ticket"></i>Mes Reservations-->
              <i class="bi bi-ticket" style="transform: rotate(45deg); font-size: 14px"></i>Mes Reservations
            </a>
            <a (click)="logout()" class="text-success">
              <i class="bi bi-box-arrow-left" style="font-size: 15px"></i>
              <span class="text-success" style="font-size: 15px">Logout</span>
            </a>
          </div>
          <mat-menu #menu="matMenu">
            <!-- Add your list of options here -->
            <button mat-menu-item (click)="logout()">Logout</button>
            <!-- Add more options as needed -->
          </mat-menu>

          <ng-template #showSignUpLink>
            <span class="ms-1" routerLink="/signUP">Sign Up</span>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>

</div>
