.nav-link{
  background-color:  var(--primary);
  color: #fff;
  font-size: 14px;
  border-style: solid;

  border-radius: 5px 5px 5px 5px;
  line-height: 1;
  padding: 12px 25px;
  font-weight: 600;
  margin: auto;
}
.nav-link:hover{
  background-color: #33a457;
  color: #fff !important;
  fill: #fff !important;
  cursor: pointer;
}
.mat-mdc-table .mat-mdc-header-cell, .mdc-data-table__row:last-child .mat-mdc-cell {
  text-align: center;
}
